:root {
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;

  //variables
  --primary-color: black;
  --secondary-color: #fefefe;
  --primary-color-rgb: 0, 0, 0;
  --secondary-color-rgb: 254, 254, 254;
  --svg-perimeter: 2rem;
  --header-height: 8em;
  --padding-s: 0.5rem;
  --padding-m: 1rem;
  --padding-l: 2rem;
  --m: 4rem;
  --scroll-bar-offset: 17px;
}

[hidden] {
  display: none !important;
}
