:root {
  --primary-color: #bebebe;
  --secondary-color: #000000;
  --primary-color-rgb: 227, 215, 193;
  --secondary-color-rgb: 0, 0, 0;
  --svg-perimeter: 2rem;
  --header-height: 8em;
  --padding-s: 0.5em;
  --padding-m: 1em;
}

[hidden] {
  display: none !important;
}
