footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: inherit;
  .langs {
    width: 100%;
    display: flex;
    gap: 1rem;
    .lng {
      cursor: pointer;
      &.select {
        color: #bebebe;
      }
    }
  }
}
