footer {
  position: fixed;
  bottom: 0;
  width: inherit;
  padding-bottom: var(--padding-m);
  .langs {
  mix-blend-mode: difference;
    width: 100%;
    display: flex;
    gap: 1rem;
    .lng {
      cursor: pointer;
      &.select {
        color: #bebebe;
      }
    }
  }
  .portfolio__nav{
    .nav{
      ul {
        display: flex;
        gap: 1rem;
        .nav__item {
          cursor: pointer;
          &.select {
            color: #bebebe;
          }
        }
      }
    }
  }
}
