footer {
  position: fixed;
  bottom: 0;
  padding-bottom: var(--padding-m);
  padding-inline: var(--padding-l);
  display: flex;
  justify-content: space-between;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;


  .langs {
  mix-blend-mode: difference;
    width: 100%;
    display: flex;
    gap: 1rem;
    .lng {
      cursor: pointer;
      &.select {
        color: #bebebe;
      }
    }
  }
  .portfolio__nav{
    .nav{
      ul {
        display: flex;
        gap: 1rem;
        .nav__item {
          cursor: pointer;
          &.select {
            color: #bebebe;
          }
        }
      }
    }
    @media screen and (max-width: 60em) {
      display: none;
    }
  }
}
