main {
  width: 100%;
  height: 100%;
  .content__wrapper {
    display: flex;
    justify-content: space-between;
    width: inherit;
    height: max-content;
    gap: var(--padding-l);
    .content {
      flex: 1;
      p:nth-child(odd) {
        padding-bottom: var(--padding-m);
      }

      .quotes {
        margin-block: var(--padding-m);
        opacity: 0;
        transition: opacity 0.5s ease;
        &.visible {
          opacity: 0.5;
        }
        .quote {
          display: none;
          &.active {
            display: block;
          }
        }
      }
    }
    .portfolio {
      flex: 1.5;
      width: 100%;
      height: calc(100vh - var(--m));
      overflow: hidden;
      @media screen and (max-width: 60em) {
        height: auto;
        overflow-y: auto;
      }
      .portfolio__wrapper {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        padding-right: var(
          --scroll-bar-offset
        ); /* Increase/decrease this value for cross-browser compatibility */
        box-sizing: content-box; /* So the width will be 100% + 17px */
        display: flex;
        flex-direction: column;
        gap: calc(var(--padding-l) * 1.5);
        & > :last-child {
          padding-bottom: calc(var(--padding-l) * 3);
        }

        .project {
          background: var(--secondary-color);
          width: 100%;
          height: auto;
          color: var(--primary-color);
          padding: var(--padding-l);
        }
      }
    }
    @media screen and (max-width: 60em) {
      flex-direction: column;
      height: auto;
    }
  }
}
