main {
  width: 100%;
  height: 100%;

  .content__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: inherit;
    min-height: calc(100vh - var(--m));
    gap: 0;

    .content {
      position: relative;
      z-index: 1;
      width: min(100%, 36rem);

      p:nth-child(odd) {
        padding-bottom: var(--padding-m);
      }

      .quotes {
        margin-block: var(--padding-m);
        opacity: 0;
        transition: opacity 0.5s ease;
        &.visible {
          opacity: 0.5;
        }
        .quote {
          display: none;
          &.active {
            display: block;
          }
        }
      }
    }

    .portfolio {
      position: absolute;
      inset: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;

      .portfolio__wrapper {
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding-right: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 0;
        padding-bottom: 0;

        & > :last-child {
          padding-bottom: 0;
        }

        .project {
          background: var(--secondary-color);
          width: 100%;
          height: auto;
          color: var(--primary-color);
          padding: var(--padding-l);
        }
      }
    }

    @media screen and (max-width: 60em) {
      min-height: calc(100vh - var(--m));

      .content {
        width: 100%;
      }

      .portfolio {
        .portfolio__wrapper {
          padding-bottom: 0;
        }
      }
    }
  }
}
