.slider__container {
  .slides {
    width: 100%;
    height: max-content;
    display: flex;

    .slide {
      width: 100%;
      height: 40rem;
      flex: 1;
      place-content: center;
      display: none;
      background-color: black;
      overflow: hidden;
      cursor: pointer;

      @media screen and (max-width: 60em) {
        height: 25rem;
      }
      &.active {
        display: grid;
      }
      img,
      video {
        max-width: inherit;
        max-height: inherit;
        height: inherit;
        width: inherit;
        object-fit: contain;
      }
    }
  }
  .slide__info {
    display: flex;
    justify-content: space-between;
    padding-block: var(--padding-s);
    .slide__title {
      text-transform: uppercase;
    }
  }
}
