h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.5rem;
  font-weight: normal;
}

p,
a,
li {
  font-size: 1.5rem;
  font-variant-numeric: oldstyle-nums;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
