@use "./components/config";
@use "./components/reset";
@use "./components/typography";
@use "./components/header";
@use "./components/footer";
@use "./components/home";
@use "./components/slider";


body {
  color: var(--secondary-color);
  width: 100vw;
  height: 100vh;
  background: var(--primary-color);
  overflow: hidden;
  font-size: 62.5%;
  padding-inline: var(--padding-l);
  #aaa {
    width: 100%;
    height: 100%;
    h1, h2, h3, h4, h5, h6, p, a, ul, li {
      font-size: 1.1rem;
      font-weight: normal;
      line-height: 120%;
    }
    .wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      @media screen and (max-width: 60em) {
        width: 100%;
        padding-inline: var(--padding-m);
        overflow-y: scroll;
      }
    }
  }
  @media screen and (max-width: 60em) {
    padding-inline: 0;
  }
}
